<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find your account</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>
    <%- include('header',{status: 1, msg: 3}); %>
    <form method="POST" action="/forgotPassword">
        <label for="email">E-mail</label>
        <input id="email" type="email" name="email" placeholder="E-mail">
        <input  id="submit-btn" class="btn" type="submit" value="Find Account">
        <p id="errmsg"></p>
        <div>Don't have account!   <a href="/signup">Create new</a></div>
    </form>
    <script type="text/javascript">
        let submitButton = document.getElementById("submit-btn");
        submitButton.addEventListener("click", (event) => {
            window.event.preventDefault();
            let emailID = document.getElementById('email').value.trim();
            if(emailID==""){
                document.getElementById('errmsg').style.color='rgb(215, 47, 0)';
                document.getElementById('errmsg').innerText="Please enter proper values";
                document.getElementById('errmsg').style.backgroundColor='white';
                setTimeout(function () {
                    document.getElementById('errmsg').innerText='';
                    document.getElementById('errmsg').style.backgroundColor='transparent';
                },3000);
                return;
            }
            let obj={ email: emailID};
            let request = new XMLHttpRequest();
            request.open('POST','/reset/forgotPassword');
            request.setRequestHeader('Content-Type', 'application/json');
            request.send(JSON.stringify(obj));
            request.addEventListener("load", () => {
                if(request.status==404){
                    document.getElementById('errmsg').style.color='red';
                    document.getElementById('errmsg').innerText="Username / Password incorrect!";
                    document.getElementById('errmsg').style.backgroundColor='white';
                    setTimeout(function () {
                        document.getElementById('errmsg').innerText='';
                        document.getElementById('errmsg').style.backgroundColor='transparent';
                    },3000);
                }else{
                    console.log('Reset link sent to you email id!');
                    window.location.href='/login';
                }
            });
        });
    </script>
</body>
</html>